@media screen and (min-width: 320px) {
    .container {
      max-width: 428px;
      /* padding-left: 16px;
      padding-right: 16px; */
    }
    .flex-ul {
      flex-wrap: wrap;
      gap: 72px;
    }

.head-lists{
  padding: 24px 16px;
}
    .main-text-block {
      font-weight: 500;
  }
  .flex-ul-team{
    gap:72px 24px;
  }
.main-heding {
  font-size: 30px;
  text-align: center;
}

.header-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobil.jpg);
    max-width: 428px;
    padding: 112px 0;
}
@media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi), 
 (min-resolution: 2dppx){
 .header-section {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mob-x2.jpg);
}
 }
.style-footer {
    padding: 97.5px 0;
}
.container-footer {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .custom-sosial-item {
    width: calc((100% - 16px) / 2);
}
  /* .email-input{
  margin-bottom: 16px;
  } */

.sosial-media-footer-hed {
    text-align: center;
  }
 .foot-text {
    margin: 0 auto;}

 .logo-footer {
      text-align: center;
    }

.icons-horizont {
      justify-content: center;
  }
.footer-form {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;

}
.header-contacts{
  display: none;
 }
 .navigation{
  display: none;
 }
 .svg-menu{
  fill: var( --brand-color-navy-blue,#2E2F42);
 }
 .head-logo {
  margin: 0;
 }
 .navv{
  justify-content: space-between;
}
 
 .hamburger-menu{
display: flex;
justify-content: center;
align-items: center;
width: 32px;
height: 22px;
background: transparent;
padding: 0;
 }
 .lists-portfolio {
  gap: 48px 0;
 }
 .modal{
  width: 319px;
  padding: 72px 24px 24px 16px;
  /* max-height: 584px; */
}
.section {
  padding: 96px 16px;
}
.asection {
  padding: 72px 16px;
}
.portfolio-section {
  padding: 48px 16px;
}
}

@media screen and (min-width: 768px) {
  header .container {
      display: flex;}
  .container {
      max-width: 768px;
      /* padding: 0 15px; */
      }

 .menu-open-btn{
        display: none;
      }
.wedo-items{
      width: calc((100% - 24px)/ 2);
    }
.flex-ul {
      display: flex;
      gap:72px 24px;
    }
 .main-text-block {
      font-weight: 500;
  }
  .article-heading {
    text-align: left;
}
  .flex-ul-team{
    gap:64px 24px;
  }
 
  .advanteges-container{
    /* padding: 0 16px; */
  }
  .header-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/planshet.jpg); 
    max-width: 768px;
    /* height: 436px; */
    width: auto;
}

@media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi), 
 (min-resolution: 2dppx){
 .header-section {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tab-2x.jpg);
}
 }
.main-heding {
    font-size: 56px;
    text-align: center;
}
.custom-sosial-item {
  width: calc((100% - 48px) / 3);
}
.logo-footer {
  text-align: left;
}
.sosial-media-footer-hed {
  text-align:left;
}
.icons-horizont {
  justify-content:left;
}
.footer-form {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center
}

.foot-text {
  margin: 0;
}
.container-footer{
  flex-flow: row;
  flex-wrap: wrap;
  gap: 72px 24px;
 /* justify-content: center; */
}

.header-contacts{
  display: flex;
  
 }
 .header-contacts-new {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.contacts {
  font-size: 12px;
}
 .navigation{
  display: flex;
 }
 .hamburger-menu{
  display: none;
 }
 .head-logo {
  margin-right: 76px;
 }
 .portfolio-botom-section {
  justify-content: center;
}
.lists-portfolio {
    gap: 72px 24px;
   }
   .portfolio-img{
    width: 356px;
   }
   .modal{
    width: 408px;
    padding: 72px 23px 24px 24px;
    /* max-height: 584px; */
 }
 .naw-lists-link.active::after,
 .naw-lists-link:hover:after,
 .naw-lists-link:focus:after 
 {
 bottom: -34px;}

 .head-lists {
  padding:0 16px;
}
.section {
  padding:96px 108px;
}
.asection{
  padding: 96px 16px;
}
.style-footer {
  padding: 96px 108px;
}
.modal-hed{
  font-size: 16px;
}
.portfolio-section {
  padding: 64px 16px;
}

}
  @media screen and (min-width: 1158px) {
    header .container {
      display: flex;
      /* padding: 0 16px; */
    }
    .container {
      max-width: 1158px;
      /* padding-left: 15px;
      padding-right: 15px; */
    }
    .menu-open-btn{
      display: none;
    }
    .wedo-items{
      width: calc((100% - 48px) / 3);
    }
    .flex-ul {
      gap: 24px;
      flex-wrap: nowrap;
     }
  
    .advanteges-icon-box{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px; 
      border-radius: 4px;
      background: var(--brand-color-shad);
      width: 264px;
      height: 112px;
      fill-opacity: 1;
      border-radius: 4px;
      gap:24px;    
    }
    .article-heading {
      font-size: 20px;
      text-align: left;
  }
  .section-whatwedo {
    padding-top: 0;
    display:block;
  }
  .flex-ul-team{
    gap:24px;
  }
  .main-text-block {
    font-weight: normal;
}

  .header-section {
    max-width: 1440px;
    padding: 188px 0;
    width: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
}
@media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi), 
 (min-resolution: 2dppx){
 .header-section {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
}
 }
.main-heding {
    font-size: 56px;
    text-align: center;
}
.custom-sosial-item {
  width: calc((100% - 120px) / 6);
}
.footer-form{
 display: flex;
 gap: 24px; 
}
 .indent {
    margin-right: 120px;
    }
.sosial-media-footer-distans {
        margin-right: 80px;
    }

    .logo-footer {
      text-align: left;
  }
  .footer-form{
    display: flex;
    gap: 24px;
  }
  .sosial-media-footer-hed {
    text-align:left;
  }
.container-footer{
  flex-direction: row;
  flex-wrap: nowrap;
  gap:0;
}
.footer-form {
  flex-wrap: nowrap;
}
.header-contacts{
  display: flex;
 }
 .navigation{
  display: flex;
 }
 .header-contacts-new {
  flex-direction: row;
  gap: 40px;
  padding: 24px 0;
}

  .hamburger-menu{
    display: none;
   }
   .head-logo {
    margin-right: 76px;
   }
   .portfolio-botom-section {
    justify-content: center;
  }
 .lists-portfolio {
      gap: 48px 24px;
 }
 .modal{
  width: 408px;
}
.head-lists {
  padding:0;
}
.contacts {
  font-size: 16px;
}
.naw-lists-link.active::after,
.naw-lists-link:hover:after,
.naw-lists-link:focus:after 
{
bottom: -28px;}
.section {
  padding-bottom: 120px;
}
 .asection{
  padding:120px 156px;
}
.modal-hed{
    font-size: 16px;
  }
  
  .portfolio-section {
    padding: 100px 0 120px 0;
  }
}