@media screen and (min-width: 320px) {
    .container {
      max-width: 428px;
      padding-left: 16px;
      padding-right: 16px;
    }
    .flex-ul {
      flex-wrap: wrap;
      gap: 72px;
    }
    .section {
      padding-top: 96px;
      padding-bottom: 96px;
    }
    .main-text-block {
      font-weight: 500;
  }
  .flex-ul-team{
    gap:72px 24px;
  }

  .main-heding {
    font-size: 36px;
}
.header-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobil.jpg);
    max-width: 428px;
    height: 432px;
}
.style-footer {
    padding: 97.5px 0;
}
.container-footer {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .custom-sosial-item {
    width: calc((100% - 16px) / 2);
}
  .email-input{
  margin-bottom: 16px;
  }

  .sosial-media-footer-hed {
    text-align: center;
  }
  .foot-text {
    margin: 0 auto;}

    .logo-footer {
      text-align: center;
    }

    .icons-horizont {
      justify-content: center;
  }
  .footer-form {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;

}
 }

  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
       padding: 0 108px;
      }
    .wedo-items{
      width: calc((100% - 24px)/ 2);
    }
    .flex-ul {
      display: flex;
      gap:24px;
    }
    .main-text-block {
      font-weight: 500;
  }
  .article-heading {
    text-align: left;
}
  .flex-ul-team{
    gap:64px 24px;
  }
 
  .advanteges-container{
    padding: 0 16px;
  }
  .header-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/planshet.jpg); 
    max-width: 768px;
    height: 436px;
    width: auto;
}
.main-heding {
    font-size: 56px;
}
.custom-sosial-item {
  width: calc((100% - 48px) / 3);
}
.logo-footer {
  text-align: left;
}
.sosial-media-footer-hed {
  text-align:left;
}
.icons-horizont {
  justify-content:left;
}
.foot-text {
  margin: 0;
}
.container-footer{
  flex-flow: row;
  flex-wrap: wrap;
}
  }
  
  
  
  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .wedo-items{
      width: calc((100% - 48px) / 3);
    }
    .flex-ul {
      gap: 24px;
      flex-wrap: nowrap;
     }
     .section {
      padding-bottom: 120px;
    }
    .advanteges-icon-box{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px; 
      border-radius: 4px;
      background: var(--brand-color-shad);
      width: 264px;
      height: 112px;
      fill-opacity: 1;
      border-radius: 4px;
      gap:24px;    
    }
    .article-heading {
      font-size: 20px;
      text-align: left;
  }
  .section-whatwedo {
    padding-top: 0;
    display:block;
  }
  .flex-ul-team{
    gap:24px;
  }
  .main-text-block {
    font-weight: normal;
}

  .header-section {
    max-width: 1440px;
    height: 600px;
    width: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
}
.main-heding {
    font-size: 56px;
}
.custom-sosial-item {
  width: calc((100% - 120px) / 6);
}
.footer-form{
 display: flex;
 gap: 24px; 
}
 .indent {
    margin-right: 120px;
    }
.sosial-media-footer-distans {
        margin-right: 80px;
    }

    .logo-footer {
      text-align: left;
  }
  .footer-form{
    display: flex;
    gap: 24px;
  }
  .sosial-media-footer-hed {
    text-align:left;
  }
.container-footer{
  flex-direction: row;
  flex-wrap: nowrap;
  gap:0;
}
.footer-form {
  flex-wrap: nowrap;
}
}