:root {
  --text-color-black: #212121;
  --text-color-grey: #757575;
  --text-color-white: #ffffff;
  --brand-color-blue: #2196f3;
  --brand-color: #e5e5e5;
  --brand-bottom-color: #f5f4fa;
  --brand-color-dark: #2f303a;
}
.main-style {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--text-color-black);
  margin: 0;
}
.logo {
  font-family: 'Raleway';
  color: var(--brand-color-blue);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.header-section {
  background-color: var(--brand-color-dark);
}
.main-heding {
  color: var(--text-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-sub-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team {
  background-color: var(--brand-color);
  margin: 0;
}
.article-heading {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.main-text-block {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}
.lists {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}
.naw-lists-link {
  text-decoration: none;
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.naw-lists-link:hover {
  color: var(--brand-color-blue);
}

.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--text-color-white);
}
.btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  cursor: pointer;
  border: 0;
}

.btn:hover {
  background-color: var(--brand-color-blue);
  color: var(--text-color-white, white);
}

.portfolio-botom {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--brand-bottom-color);
}

.name-block {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
  margin: 0;
}
.contacts {
  color: var(--text-color-grey, grey);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts:hover {
  color: var(--brand-color-blue);
}

.brand-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.type-of-work {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}
.style-footer {
  background-color: var(--brand-color-dark);
  height: 252px;
}
.footer-contacts {
  color: var(--text-color-white);
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contacts:hover {
  color: var(--brand-color-blue);
}
.map {
  color: var(--text-color-white);
  text-decoration: none;
  font-style: normal;
}
.map:hover {
  color: var(--brand-color-blue);
}
