:root {
  --text-color-black: #212121;
  --text-color-grey: #757575;
  --text-color-white: #ffffff;
  --brand-color-blue: #2196f3;
  --brand-color: #e5e5e5;
  --brand-bottom-color: #f5f4fa;
  --brand-color-dark: #2f303a;
}
.main-style {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--text-color-black);
  margin: 0 auto;
}
header .container {
  display: flex;
  align-items: center;
}
.header-pad {
  border-bottom: 1px solid;
  border-color: var(--brand-color);
}
.hed-lists {
  padding-bottom: 24px;
  padding-top: 25px;
}
.head-logo {
  margin-right: 93px;
}
.navigation {
  display: flex;
  /* margin: 0; */
  padding-left: 0px;
}
.header-contacts {
  margin-left: auto;
}
.header-contacts a + a {
  margin-left: 50px;
}
.logo {
  display: block;
  font-family: 'Raleway';
  color: var(--brand-color-blue);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.naw-lists-link:not(last-child) {
  margin-left: 50px;
}
.naw-lists-link {
  text-decoration: none;
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.naw-lists-link:hover {
  color: var(--brand-color-blue);
}
.logo-footer {
  padding-top: 60px;
  padding-bottom: 5px;
}
.address-footer-prop {
  margin: 0;
  padding-left: 0px;
  padding-bottom: 4px;
}
.header-section {
  background-color: var(--brand-color-dark);

  padding-bottom: 200px;
}
.main-heding {
  color: var(--text-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 200px;
  padding-bottom: 30px;
}
.main-sub-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  padding-bottom: 60px;
  margin: 0px;
}
.our-team {
  background-color: var(--brand-color);
  text-align: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.article-heading {
  text-align: left;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 9.41px;
}
.main-text-block {
  text-align: left;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
  width: 270px;
  margin: 0;
}
.flex-ul {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.lists {
  text-decoration: none;
  list-style-type: none;
}
.lists-portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  gap: 30px;
}
.main-btn {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--text-color-white);
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 20px;
}
.btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  cursor: pointer;
  border: 0;
}
.btn:hover {
  background-color: var(--brand-color-blue);
  color: var(--text-color-white, white);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-whatwedo {
  text-align: center;
  padding-top: 0px;
}
.portfolio-botom-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
  padding: 0px;
  padding-bottom: 50px;
  margin: 0px;
  gap: 0px 8px;
}
.portfolio-botom {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--brand-bottom-color);
  border-radius: 4px;
}
.portfolio-botom:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.lists-portfolio li {
  line-height: 0;
}
.box {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: var(--brand-color);
}
.name-block {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
}
.profession {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
  margin: 0;
  padding-bottom: 30px;
}
.profesion-block li {
  background-color: var(--text-color-white);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.contacts {
  color: var(--text-color-grey, grey);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts:hover {
  color: var(--brand-color-blue);
}
.brand-name {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 4px;
}
.type-of-work {
  text-align: left;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
  margin: 0px;
  padding-left: 24px;
  padding-bottom: 20px;
}
.style-footer {
  background-color: var(--brand-color-dark);
  height: 252px;
}
.footer-contacts {
  color: var(--text-color-white);
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contacts:hover {
  color: var(--brand-color-blue);
}
.map {
  color: var(--text-color-white);
  text-decoration: none;
  font-style: normal;
}
.map:hover {
  color: var(--brand-color-blue);
}
